:root {
  // Font
  --f-primary: 'Poppins', sans-serif;
  --f-second: 'Open Sans', sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fw-black: 900;
  --fs-h1: 1.65rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.15rem;
  --fs-body: 1rem;
  --fs-btn: 0.85rem;
  --fs-small: 0.85rem;
  // Icon Fs
  --fs-icon: 1.5rem;
  --clr-primary: #fbc02d;
  --clr-second: #181b1f;
  --clr-third: #202531;
  --clr-white: #fff;
  --clr-grey: #b0b0b0;
  // Trasnsitions
  --cubicbezier: all 0.2s cubic-bezier(0.22, 0.43, 0.35, 1.5);
  --ease-in: all 0.2s ease-in;
  // Text Shadow
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

//   Sass Varibles
$table: 43.75em; // 700px
$size-900: 56.25em; // 900px
$table-lg: 62em; // 992px
$laptop: 87em; // 1392px
$laptop-xl: 106.25em; // 1700px

@include mediaTablet {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.35rem;
    --fs-small: 0.9rem;
    // Icon Fs
    --fs-icon: 1.8rem;
  }
}
