*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body,
html {
  width: 100%;
  line-height: 1.6;
  font-family: var(--f-primary);
  font-size: var(--fs-body);
  color: var(--clr-grey);
}

body {
  height: 100%;
  // overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

p {
  font-family: var(--f-second);
  line-height: 1.6;
  color: var(--clr-grey);
}

#__next {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 5em 1em;
}

.mx-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

// Icons Default Styles
.icon {
  color: var(--clr-primary);
  font-size: var(--fs-icon);
  cursor: pointer;
  @include cubicBezier;

  &:hover,
  &:focus {
    color: var(--clr-grey);
  }
}

// Title

.title {
  color: var(--clr-white) !important;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: var(--text-shadow);
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    height: 0.58rem;
    width: 95%;
    margin: 0 auto;
    bottom: 2px;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: var(--clr-primary);
  }
}
.title--dark {
  &::before {
    background-color: var(--clr-second);
  }
}

// Before black Bg
.before--black {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

// Angle Parallelogram
.parallelogram--bg {
  position: relative;
  z-index: 1;
  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    max-width: 1300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('/imgs/soccer_stadium.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    clip-path: polygon(27% -5%, 94% 0%, 75% 103%, -3% 149%);
    /* clip-path: polygon(39% 0, 83% 0, 65% 100%, 18% 100%);
    -webkit-clip-path: polygon(39% 0, 83% 0, 65% 100%, 18% 100%); */
    background-size: cover;
    transform: translateX(-50%);
  }
}
.reverse::before {
  transform: translateX(-50%) skewX(10deg);
}

.parallelogram--bg--grey {
  position: relative;
  z-index: 1;
  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1300px;
    height: 100%;
    width: 100%;
    background: var(--clr-third);
    clip-path: polygon(27% -5%, 94% 0%, 75% 103%, -3% 149%);
    background-size: cover;
    transform: translateX(-50%);
  }
}

// Loading Bar Color
#nprogress {
  .bar {
    background: var(--clr-primary) !important;
    height: 4px !important;
  }

  .peg {
    box-shadow: 0 0 10px var(--clr-primary) !important;
  }
}

// Display inline Block
.d-inline {
  display: inline-block;
}

// Grid minMax Helper
.gridMinMax {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  padding-top: 2em;
  & > div {
    grid-column: 2 / 2;
  }
}

.stickyColum {
  position: sticky;
  top: -50px;
}

.icon--style {
  margin-right: 1em;
  color: var(--clr-white);
  transition: var(--cubicbezier);
  cursor: pointer;
  border: 1.5px solid var(--clr-white);
  border-radius: 50%;
  display: flex;
  padding: 0.4em;
  font-size: 1rem;
  background-color: transparent;

  & svg:hover,
  & svg:focus {
    color: var(--clr-primary);
    transform: scale(0.9);
  }

  &:hover,
  &:focus {
    border-color: var(--clr-primary);
    color: var(--clr-primary);
    transform: scale(0.9);
  }
}

.icons--conntainer {
  align-self: center;
  display: flex;
}
